* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header {
    background-color: #7494b1;
    width: 234px;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #fec76f;
}

main {
    width: 234px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #eee;
    gap: 1rem;
    padding: 2rem 10px;
}

h1 {
    font-size: 14px;
    color: #eee;
}

.temp, 
.sel1,
.sel2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.temp p,
.sel1 p,
.sel2 p {
    font-size: 13px;
    color: #000;
    font-weight: bold;
}

.temp input,
.sel1 select,
.sel2 select {
    width: 6rem;
    height: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 4px;
    font-size: 12px;
}

.sel1 select {
    margin-left: 60px;
}

.sel2 select {
    margin-left: 50px;
}

button {
    border: none;
    border-radius: 6px;
    background-color: #fff;
    padding: 0.5rem;
    margin: 0.7rem 0;
    font-size: 12px;
}
button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.result {
    width: 220px;
    height: 2rem;
    background-color: #fff;
    text-align: center;
    padding-top: 8px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}